{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">	  
              <small class="text-muted">{{ row.pno }} {{ row.pname }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('assign', pno=row.pno, essn=row.essn) }}">{{ row.pno }} {{ row.lname }}</a></h2>
          </div>
        </article>
     {% endfor %}
{% endblock content %}