{% extends "layout.html" %}
{% block content %}
	  {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('assign', essn=row['essn'], pno=row['pno'])}}">{{ row }}</a> <br/>
              <small class="text-muted">{{ row['essn'] }} {{ row['pno'] }}</small>
            </div>
           
          </div>
        </article>
     {% endfor %}
	
{% endblock content %}