{% extends "layout.html" %}
{% block content %}
    {{ title }}
        {% for row in results %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
{#                  <a class="mr-2" href="#">{{ row }}</a>#}
                  <strong class="text-muted">{{ row['FirstName'] }} {{ row['LastName'] }}, {{ row['Specialty'] }}, {{ row['CityOfPractice'] }}</strong>
                </div>
              </div>
            </article>
         {% endfor %}
{% endblock content %}